* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100vh;
    background: url(https://i.gifer.com/XzZg.gif) 50% 50% no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.gif-overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: rgba(14, 14, 14, 0.8);
    z-index: -1;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
}

.artist {
    z-index: 2;
    position: fixed;
    line-height: 80px;
    margin: 0 40px;
    color: #fff;
}

.watch {
    z-index: 2;
    position: fixed;
    line-height: 80px;
    right: 140px;
    color: grey;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 4px;
}

.watch ion-icon {
    z-index: 2;
    position: relative;
    top: 1px;
    padding-right: 6px;
}

.menu {
    z-index: 2;
    position: fixed;
    line-height: 80px;
    right: 0;
    margin: 0 40px;
    font-size: 22px;
    color: #fff;
    padding-top: 4px;
}

.hero-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48vw;
    height: 46vh;
    background: url(https://i.gifer.com/YKvB.gif) 50% 50% no-repeat;
    background-size: cover;
    animation: animateGIF 4s cubic-bezier(0, 0.58, 1, 0.58);
    /* animation-delay: 2s; */
}

@keyframes animateGIF {
    0% {
        width: 100%;
        height: 100vh;
    }
    40% {
        width: 100%;
        height: 100vh;
    }
    100% {
        width: 48vw;
        height: 46vh;
    }
}

.hero-title {
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

.hero-title h1 {
    color: red;
    font-size: 80px;
    margin-bottom: 0;
}

.glitch {
    position: relative;
}
.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    left: 4px;
    text-shadow: -30px 0 rgb(0, 174, 255);
    background: #000;
    clip: rect(54px, 250px, 56px, 40px);
    animation: noise-anim 2s infinite alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -3px 0 blue;
    background: #000;
    animation: noise-anim 2s infinite alternate-reverse;
}

@keyframes noise-anim {
    0% {
        clip-path: inset(40% 0 61% 0);
    }
    20% {
        clip-path: inset(92% 0 1% 0);
    }
    40% {
        clip-path: inset(43% 0 1% 0);
    }
    60% {
        clip-path: inset(25% 0 58% 0);
    }
    80% {
        clip-path: inset(54% 0 7% 0);
    }
    100% {
        clip-path: inset(58% 0 43% 0);
    }
}


.hero-title p {
    color: grey;
    font-size: 15px;
    letter-spacing: 14px;
}

.social-media {
    position: absolute;
    bottom: 0.5%;
    transform: translateY(-50%);
}

.social-media ul li {
    display: inline-block;
    color: grey;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 100;
}

.listensong {
    position: absolute;
    bottom: 0;
    right: 40px;
    transform: translateY(-50%);
}

.listensong ul li {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
}

#rotated {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
}

.rotatethis {
    position: absolute;
    top: 54%;
    left: 74%;
    transform: translate(-50%, -50%);
    animation: rotating 20s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}









